* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
ul,
li,
dl,
dt,
dd,
ol {
  list-style-type: none;
}
button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
