#container {
  width: 100%;
  background-color: #DDD;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contents {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  border-left: solid 1px #cedfea;
  border-right: solid 1px #cedfea;
  box-sizing: border-box;
}
.contents .content {
  flex-grow: 1;
  width: 100%;
}
