header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  z-index: 100;
}
header h1,
header h1 a {
  font-size: 18px;
  list-style: 20px;
}
header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 a {
  display: inline-flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #777;
  font-weight: 500;
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
  transition: color .2s ease-in;
}
header h1 a:hover,
header h1 a:active {
  color: #5e5e5e;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav a {
  font-size: 14px;
  line-height: 20px;
  color: #777;
  padding: 15px;
  box-sizing: border-box;
  transition: color .2s ease-in;
}
header .nav a:hover,
header .nav a:active {
  color: #333;
}