<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Wiki</title>

    <!-- style -->
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/head.css" />
    <link rel="stylesheet" href="../css/foot.css" />
    <link rel="stylesheet" href="../css/contents.css" />
  </head>
  <body>
    <!--
      * padding의 숫자와 background-color의 컬러코드 범위가 넓어,
      * 원하시는 여백숫자(padding-left, padding-right)와
      * 색상코드(background-color)를 직접입력해주세요
    -->
    <div id="wrap" style="padding-left: 100px; padding-right: 100px; background-color: #d1d1d1">
      <!-- s : header -->
      <header>
        <h1><a href="#" title="홈으로 이동">Help Wiki</a></h1>
        <h2><img src="../images/ico-book.JPG" alt="책아이콘" /> Find answers to common technical questions.</h2>
      </header>
      <!-- e : header -->

      <!-- s : contents -->
      <div class="contents">
        <!-- s : 질문 리스트 -->
        <div class="list">
          <dl>
            <dt>Evergreen Login</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Login Help</a></li>
                <li><a href="#" title="페이지이동">Default Usename and Password</a></li>
                <li><a href="#" title="페이지이동">New student first time login (activation)</a></li>
                <li><a href="#" title="페이지이동">Forgot My Password</a></li>
                <li><a href="#" title="페이지이동">Alumni Accounts</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>my.evergreen.edu</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">My.evergreen.edu Help</a></li>
                <li><a href="#" title="페이지이동">Academic Statement Help</a></li>
                <li><a href="#" title="페이지이동">Individual Study Guide</a></li>
                <li><a href="#" title="페이지이동">Pay History and Infomation</a></li>
                <li><a href="#" title="페이지이동">Time and Leave Help</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>Evaluations</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Evaluation Help</a></li>
                <li><a href="#" title="페이지이동">Evaluation Guide for Students</a></li>
                <li><a href="#" title="페이지이동">Evaluation Guide for Facuity</a></li>
                <li><a href="#" title="페이지이동">Wriging a Self-Evaluation</a></li>
                <li><a href="#" title="페이지이동">Wriging an Evaluation</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>For Faculty</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Banner for Facuity</a></li>
                <li><a href="#" title="페이지이동">Class Lists for Facuity</a></li>
                <li><a href="#" title="페이지이동">Facuity Technology Guide</a></li>
                <li><a href="#" title="페이지이동">Facuity Technology Support</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>Accessibility</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Accessibility Home Page</a></li>
                <li><a href="#" title="페이지이동">Accessibility Software</a></li>
                <li><a href="#" title="페이지이동">Tips for Providing Barrier-Free Access</a></li>
                <li><a href="#" title="페이지이동">Creating Accessible PDFs</a></li>
                <li><a href="#" title="페이지이동">Where to Go for Help</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>Campus Technology Spaces</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Academic Computing Center</a></li>
                <li><a href="#" title="페이지이동">Animation Labs</a></li>
                <li><a href="#" title="페이지이동">Audio Studios</a></li>
                <li><a href="#" title="페이지이동">CCAM</a></li>
                <li><a href="#" title="페이지이동">Computer Labs and Classrooms</a></li>
                <li><a href="#" title="페이지이동">Mdeia Classrooms</a></li>
                <li><a href="#" title="페이지이동">Multimedia Lab (MML)</a></li>
                <li><a href="#" title="페이지이동">Music Technology Labs</a></li>
                <li><a href="#" title="페이지이동">Scientific Computing (CAL)</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>Curricular Technologies</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Academic Technology Support</a></li>
                <li><a href="#" title="페이지이동">Academic Technology Tools</a></li>
                <li><a href="#" title="페이지이동">Canvas</a></li>
                <li><a href="#" title="페이지이동">Scientific Instrumentation</a></li>
                <li><a href="#" title="페이지이동">WordPress</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>Email / Communication</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">Email Help</a></li>
                <li><a href="#" title="페이지이동">Using Webmail</a></li>
                <li><a href="#" title="페이지이동">Student Email Overview</a></li>
                <li><a href="#" title="페이지이동">Setting Up a Mail Client</a></li>
                <li><a href="#" title="페이지이동">Emergency Campus Notifications</a></li>
                <li><a href="#" title="페이지이동">Greener Commons</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
          <dl>
            <dt>File Space</dt>
            <dd class="q-list">
              <ul>
                <li><a href="#" title="페이지이동">File Space Overview</a></li>
                <li><a href="#" title="페이지이동">Connect to Filespace - Mac OS X</a></li>
                <li><a href="#" title="페이지이동">Connect to Filespace - Windows XP</a></li>
                <li><a href="#" title="페이지이동">Orca Program Shares</a></li>
                <li><a href="#" title="페이지이동">Quota Limit Exceeded</a></li>
              </ul>
            </dd>
            <dd class="see-all">
              <a href="#" title="페이지이동">see all articles</a>
            </dd>
          </dl>
        </div>
        <!-- e : 질문 리스트 -->
      </div>
      <!-- e : content -->

      <!-- s : footer -->
      <footer>footer 텍스트</footer>
      <!-- e : footer -->
    </div>
  </body>
</html>
