<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POST</title>

    <!-- style -->
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/post.css" />
  </head>
  <body>
    <!-- s : 포스트 -->
    <div class="post">
      <!-- s : 게시글 -->
      <div class="content">
        <!-- 목차 1 -->
        <h1 id="dept1">목차 1</h1>
        <h2 id="dept1-1">목차 1-1</h2>
        <div class="detail">
          <!-- 
            * 중앙정렬 이미지
            * image-box 가로폭은 style(width)로 직접 지정
            * image-box 의 img 가로폭은 style(width)로 직접 지정
          -->
          <div class="image-box type-center" style="width: 200px">
            <img src="../images/dummy-image.jpg" alt="image" style="width: 100px" />
          </div>
          <br />
          <!-- 
            * 이미지 왼쪽, 텍스트 오른쪽 병렬
            * image-box 가로폭은 style(width)로 직접 지정
            * image-box 의 img 가로폭은 style(width)로 직접 지정
          -->
          <div class="image-box type-left" style="width: 400px">
            <img src="../images/dummy-image.jpg" alt="image" style="width: 100px" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra, nibh in molestie sodales, risus turpis vehicula tellus, vitae lobortis ligula tortor in enim. Proin venenatis arcu id enim rutrum eget condimentum urna venenatis. Suspendisse at tortor nisi, in tempus ligula. Maecenas nisl felis, bibendum ut luctus nec, bibendum sit amet erat.
          </div>
          <br />
          <!-- 
            * 이미지 오른쪽, 텍스트 왼쪽 병렬
            * image-box 가로폭은 style(width)로 직접 지정
            * image-box 의 img 가로폭은 style(width)로 직접 지정
          -->
          <div class="image-box type-right" style="width: 400px">
            <img src="../images/dummy-image.jpg" alt="image" style="width: 100px" />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra, nibh in molestie sodales, risus turpis vehicula tellus, vitae lobortis ligula tortor in enim. Proin venenatis arcu id enim rutrum eget condimentum urna venenatis. Suspendisse at tortor nisi, in tempus ligula. Maecenas nisl felis, bibendum ut luctus nec, bibendum sit amet erat.
          </div>
        </div>
        <h3 id="dept1-1-1">목차 1-1-1</h3>
        <div class="detail">내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용</div>

        <!-- 목차 2 -->
        <h1 id="dept2">목차 2</h1>
        <h2 id="dept2-1">목차 2-1</h2>
        <h3 id="dept2-1-1">목차 2-1-1</h3>
        <div class="detail">내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용</div>

        <!-- 목차 3 -->
        <h1 id="dept3">목차 3</h1>
        <h2 id="dept3-1">목차 3-1</h2>
        <h3 id="dept3-1-1">목차 3-1-1</h3>
        <div class="detail">내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용<br />내용</div>
      </div>
      <!-- e : 게시글 -->

      <!-- s : 클릭박스 -->
      <div class="clickbox">
        <a href="#" class="btn-prev" title="이전글로 이동">PREV</a>
        <a href="./default.html" class="btn-home" title="홈으로 이동">HOME</a>
        <a href="#" class="btn-next" title="다음글로 이동">NEXT</a>
      </div>
      <!-- e : 클릭박스 -->

      <!-- s : 목차 -->
      <div class="hierarchy">
        <ul>
          <li><a href="#dept1">목차 1</a></li>
          <li><a href="#dept1-1">목차 1-1</a></li>
          <li><a href="#dept1-1-1">목차 1-1-1</a></li>
        </ul>
        <ul>
          <li><a href="#dept2">목차 2</a></li>
          <li><a href="#dept2-1">목차 2-1</a></li>
          <li><a href="#dept2-1-1">목차 2-1-1</a></li>
        </ul>
        <ul>
          <li><a href="#dept3">목차 3</a></li>
          <li><a href="#dept3-1">목차 3-1</a></li>
          <li><a href="#dept3-1-1">목차 3-1-1</a></li>
        </ul>
      </div>
      <!-- e : 목차 -->
    </div>
    <!-- e : 포스트 -->
  </body>
</html>
